# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
venv_tf/
.venv/
.venv1/

# macOS
.DS_Store

# Data (don't upload dataset!)
outputData/
*.pgm
*.png

# Models
*.h5
*.keras

# Logs
*.log
